body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

h1 {
    text-align: center;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    margin: 5px;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: blue;
    color: white;
}

.saat-table {
    margin-top: 20px;
}

.saat-table.hidden {
    display: none;
}

.highlight {
    background-color: yellow;
}